.about-container {
    padding: 40px;
    background-color: #d0aeaa;
    color: #333;
    text-align: justify;
  }

  .about-container h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  
  .about-container p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .about-image {
    width: 40%;
    max-width: 60000px;
    height: 10%;
    margin: 100px 20px 50px 50px;
    border-radius: 8px;
    box-shadow: 6px 8px 4px 6px rgba(0.1, 0.1, 0.1, 0.1);
    float: right;
  }
  
  