.contact-container {
    padding: 90px;
    background-color: #dfb0b0;
    text-align: center;
  }

  .contact-container h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }

  .contact-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 10px;
    background-color: #070606;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    margin-left: 30px;

  }
  
  .contact-form button:hover {
    background-color: #cdc095;
  }
  