/* General styles */
body {
  margin: 10;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(90deg, #7b5858, #2f1a1a);
  color: #121213;
}

/* Container */
.home-container {
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: rgb(9, 6, 6);
}

.brand-name {
  font-size: 4rem;
  font-weight: bolder;
}

/* Hero Section */
.hero {
  padding: 2px;
  background: linear-gradient(120deg, hsl(0, 0%, 52%), #f6cccc);
  margin-top: 160px;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.shop-now-btn {
  background-color: #e7d6de;
  color: #0a0201;
  border: rgb(249, 241, 241);
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.shop-now-btn:hover {
  background-color: #121212;
  color: white;
}

/* Footer */
.footer {
  margin-top: 100px;
  background-color: #090909;
  color: white;
  padding: 0.25px;
}

.footer .social-links {
  margin-top: 0.1px;
}

.social-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.social-link:hover {
  text-decoration: underline;
}


.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width of the page */
  height: 100%; /* Cover the full height of the page */
  object-fit: cover; /* Ensures the image scales properly */
  opacity: 0.5; /* Adjust transparency (0.0 to 1.0) */
  z-index: -1; /* Ensures the image is behind the content */
}


