/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
}

.nav-link {
  font-size: 1rem;
  color: #2f2f2f;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  /*background-color: #0077b6;*/
  color: rgb(90, 186, 239);
}